---
layout: default
---

<div id="home">

	<h2>
		<a href="/by-the-way/">Блог</a>
		<a href="/by-the-way/feed/" class="icon"><img src="/assets/img/rss.png" alt="RSS"/></a>
		<small>заметки, итоги, конспекты</small>
	</h2>
	<ul>
		{% for post in site.categories.by-the-way limit:3 %}
			<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
		{% endfor %}
		<li><a href="/by-the-way/all/" class="text-muted">Все записи</a></li>
	</ul>

	<h2>
		<a href="/songbook/">Песенник</a>
		<a href="/songbook/feed/" class="icon"><img src="/assets/img/rss.png" alt="RSS"/></a>
		<small>тексты и аккорды для&nbsp;гитары</small>
	</h2>
	<ul>
		{% for post in site.categories.songbook limit:3 %}
			<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
		{% endfor %}
		<li>Исполнители: <a href="/songbook/Аквариум/">Аквариум</a>, <a href="/songbook/Кино/">Кино</a>, <a href="/songbook/ДДТ/">ДДТ</a>, <a href="/songbook/Чайф/">Чайф</a>.</li>
		<li><a href="/songbook/all/" class="text-muted">Все песни</a></li>
	</ul>

	<h2>Фотографическое</h2>
	<ul>
		<li><a href="https://ruslanium.com/">Ruslan Photography</a></li>
		<li><a href="https://500px.com/rukeba">500px.com/rukeba</a></li>
		<li><a href="https://www.instagram.com/rslnkb/">instagram.com/rslnkb</a></li>
	</ul>

	<h2>Разное</h2>
	<ul>
		<li>
      		<a href="https://pythonhub.dev/">
        		<img src="/assets/img/pythonhub.png" width="16" height="16"/> Python Hub&nbsp;&mdash; новости и&nbsp;ссылки для&nbsp;питонистов
      		</a>
		</li>
		<li><a href="https://textpage.app/">
				<img src="/assets/img/textpage.app.png" width="16" height="16"/> textpage.app</a>
			—&nbsp;экстремально простой редактор</li>
		<li><a href="http://guitar-chords-chart.net/">Определитель аппликатур гитарных&nbsp;аккордов</a></li>
		<li><a href="/listen/">Что послушать?</a></li>
		<li><a href="/books/">Прочитал</a></li>
		<li>
			<a href="https://twitter.com/rukeba">Твиттер</a>
			&middot;
			<a href="https://telegram.me/by_the_way">Подумалось</a>
			&middot;
			<a href="http://eternal-grandfather.tumblr.com/">Я где-то это прочитал</a>
		</li>
	</ul>


	<h2>Неопубликованное</h2>
	<ul>
		<li><a href="{% link unpublished/20th-october.md %}">20 октября</a></li>
		<li><a href="{% link unpublished/door.md %}">дверь</a></li>
		<li><a href="{% link unpublished/sea.md %}">море</a></li>
		<li><a href="{% link unpublished/swifts.md %}">стрижи</a></li>
		<li><a href="{% link unpublished/untitled.md %}">без названия</a></li>
		<li><a href="{% link unpublished/who-am-i.md %}">кто я</a></li>
	</ul>

</div>
