---
layout: default
---

<h1>Песни с аккордами исполнителя «{{page.title}}»</h1>

{% for post in site.tags[page.title] %}
  <div class="post-list-item">
    <h3 class="post-title" itemprop="name headline">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h3>
    <p class="text-muted">
      <small>
        <span datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: site.date_format }}</span>
      </small>
    </p>
    <div class="body" itemprop="articleBody">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

<p><a href="/songbook/all/">Все песни с аккордами</a></p>
